@font-face{
	font-family: elephant;
  src: url(../fonts/elephant.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;600;700&display=swap');


/*common coding start*/
body{
	scroll-behavior: smooth;
	margin-top: 88px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #224F34;
}
.c_padding{
	padding-top: 100px;
}
.c_title{

}
/*common coding end*/


/*header start*/
header {
    padding: 16px 0;
    background-color: #C2EFD4;
}
.menu{
	justify-content: flex-end;
}
.menu ul{
	align-items: center;
}
.menu ul li{
}
.m_right{
	margin-right: 50px !important;
}
.menu ul li a{
	margin: 0 14px;
	font-size: 16px;
	font-weight: 500;
	color: #224F34;
	text-transform: uppercase;
	transition: .33s ease;
}
.cart{
	font-size: 22px;
}
.menu ul li a:hover{
	color: #000000;
}
.menu ul li a img{}
.menu ul li button{
	margin-left: 10px;
	padding: 6px 18px;
	font-family: Poppins;
	font-size: 16px;
	font-weight: 500;
	color: #224F34;
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid #224F34;
	border-radius: 3px;
	transition: .33s ease;
}
.menu ul li button:hover{
	color: black;
	background-color: #6BC785;
	border-color: #6BC785;
}
/*header end*/

/*banner start*/
.banner{
	padding: 40px 0 55px;
	background-color: #C2EFD4;;
}
.l_banner{}
.lbanner_h1{
	font-family: 'Rufina', serif;
	font-size: 60px;
	font-weight: 700;
	color: #224F34;
}
.lbanner_p{
	margin: 20px 0 44px;
    color: #267D49;
    line-height: 150%;
}
.button{

}
.l_banner a{
	padding: 16px 30px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #FFF;
	background: #224F34;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 6px 33px 59px 0px rgba(0, 0, 0, 0.30);
	transition: .33s ease;
}
.l_banner a:hover{
	color: black;
	background-color: #6BC785;
}
.r_banner{}
.b_img{
	width: 80%;
    margin-left: auto;
    position: relative;
}
.b_img img{}
.b_dotimg {
    width: 20%;
    position: absolute;
    top: 80px;
    right: 20px;
}
.b_dotimg2 {
    position: absolute;
    width: 20%;
    bottom: 50px;
    left: 25px;
}
.b_dot{

}
/*banner end*/

/*best selling start*/
.b_selling{

}
.b_sellingcont{
	text-align: center;
}
.b_sellingcont h1{
	font-family: Roboto Slab;
	font-size: 50px;
	font-weight: 600;
	color: #224F34;
}
.b_sellingcont p{
	margin: 18px 0 0;
	font-size: 16px;
}

.bsell_box {
    margin-top: 46px;
}
.bsell_img{}
.bsell_img img{}
.bsellb_cont{}
.bsellbh3 {
    margin: 28px 0 10px;
    font-size: 17px;
    font-weight: 600;
    color: #373737;
    text-align: center;
}
.bsell_price{
	padding: 0 30px;
	 display: flex;
	 align-items: center;
     justify-content: space-evenly;
}
.price{}
.price h3{
	color: #454545;
	font-size: 16px;
	font-weight: 500;
}
.pipe {
    width: 1px;
    height: 14px;
    background: #454545;
}
.rating{}
.r_value{
	color: #454545;
	font-size: 16px;
	font-weight: 500;
}
.r_icon{}
.r_icon i{
	font-size: 16px;
	color: #F5D426;
}
.bselling_button{
	margin: 50px 0 0;
	text-align: center;
}
.bselling_button button{
    padding: 6px 18px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #224F34;
    background-color: transparent;
    border: 2px solid #224F34;
    border-radius: 3px;
    transition: .33s ease;
}
.bselling_button button span i{
	margin-left: 8px;
    color: #224F34;
}
.bselling_button button:hover{
	color: black;
	background-color: #6BC785;
	border-color: #6BC785;
}
/*best selling end*/

/*product start*/
.nav_tab {
    margin-top: 36px;
    text-align: center;
}
/*.nav_tab li {
    margin: 0 20px;
}*/
.ntab_btn{
	margin: 0 20px;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #454545;
	border-radius: 0 !important;
	text-transform: uppercase;
	transition: .33s ease;
	border-bottom: 1px solid transparent;
}
.ntab_btn:hover {
	color: #454545;
    border-bottom-color: #224F34;
}
.ntab_btn:active{
	border-color: transparent !important;
}
/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #454545;
    background-color: #0d6efd00;
}*/
/*product end*/

/*offer start*/
.margin_top{
	margin-top: 100px;
}
.offer{
	background: #C2EFD4;
	border-radius: 3px;
}
.offer_img {
    position: relative;
}
.offer_img img {
    padding-left: 20px;
}
.offer_dot {
    width: 22%;
    position: absolute;
    bottom: 42px;
    left: -20px;
}

.offer_cont{}
.offer_cont h1{
	margin-bottom: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	font-weight: 700;
	color: #224F34;
	}
.offer_cont p {
    margin-right: 70px;
}

.off_cbox{
	margin: 40px 0 60px;
}
.cs_box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: white;
    text-align: center;
    border-radius: 3px;
}
.cs_sp1{
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 600;
	color: #224F34;
}
.cs_sp2{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #224F34;
}

/*offer end*/

/*designer start*/
.designer{}
.designh3{
	margin-top: 20px;
	font-size: 30px;
	font-weight: 600;
	color: #373737;
	text-align: center;
}
.designp{
	color: #373737;
	text-align: center;
	line-height: 143%; /* 31.46px */
}

/*designer end*/

/*feedback start*/
.feedtop{
	margin-top: 70px;
}
.feedback{}
.feed_cont{ 
    padding: 20px;  
    min-height: 250px;
	position: relative;
	display: flex;
    flex-direction: column; 
	border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.comple1{
	background-color: #FFF;
}
.comple2{
	background-color: #C2EFD4 !important;
}
.f_conth2{
	margin: 40px 0 20px;
	font-family: Roboto Serif;
	color: #224F34;
	font-size: 22px;
	font-weight: 600;
}
.f_conthp{}
.fquote_icon{
	position: absolute;
    top: 20px;
}
.fquote_icon i{
	font-size: 26px;
}

.feedIconBox{
	margin-top: 60px;
    text-align: center;
}
.arrow {
    margin: 0 20px;
    padding: 10px 20px;
    background: transparent;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .33s ease;
}
.arrow i{
	font-size: 18px;	
}
.arrow:hover{
	background-color: #C2EFD4;
}
.arrow:active{
	background-color: #C2EFD4;
}

/*feedback end*/

/*footer start*/
footer{
	margin-top: 100px;
	padding: 80px 0 50px;
	background-color: #224F34;
}
.footer_top{}
.ft_social{}
.ft_logo{
	 width: 30%;
}
.ft_logo img{}
.ft_social h3{
	margin: 30px 0 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;
}
.s_icon {
    margin-right: 16px;
    font-size: 20px;
    color: #C2EFD4;
    transition: .33s ease;
}
.s_icon:hover {
    color: #aac1b3;
}

.ft_list{}
.ft_list h4{
	margin-bottom: 16px;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;
}
.list_item {
	margin-top: 8px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #C2EFD4;
    text-transform: capitalize;
    text-decoration: none;
    transition: .33s ease;
}
.list_item:hover{
	color: #aac1b3;
}
.ft_form{}
.ft_form h4{
	margin-bottom: 25px;
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;
}
.c_form{
	width: 100%;
}
.form_input {
	padding: 6px 16px;
	width: 75%;
	color: white;
    background: transparent;
    border-radius: 3px;
    border: 2px solid #A3F3BE;
}
.form_input::placeholder{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #FFF;
}
.form_input:focus{
	color: white;
	outline: none;
/*	border: 2px solid #A3F3BE;*/
}
.form_btn{
	margin-left: -7px;
	padding: 6px 16px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #224F34;
	background: #A3F3BE;
	text-transform: uppercase;
	border: 2px solid #A3F3BE;
	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
	transition: .33s ease;
}
.form_btn:hover{
	background: #6BC785;
}

.footer_bottom{
	margin-top: 60px;
}
.ft_bline{
	width: 100%;
    height: 1px;
    background: #A3F3BE;
}
.ft_bItem{
	text-align: right;
}
.ft_bSItem{
	margin-left: 16px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #FFF;
	text-transform: capitalize;
	text-decoration: none;
	transition: .33s ease;
}
.ft_bSItem:hover{
	color: #aac1b3;
}
/*footer end*/